[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

petaldata = {path = "/Users/dlite/projects/petaldata-python", editable = true}

[packages]

twine = "*"
pandas = "*"
python-dotenv = "*"
smart-open = "*"
pygsheets = "*"
petaldata = { git = 'https://github.com/itsderek23/petaldata-python.git', ref = '651e9c9' }
sentry-sdk= "==0.7.14"
